body {
    margin: 0px;
    padding: 0px;
    font-size:13px;
}

header {
    background:transparent;
    background-repeat: no-repeat;
}


.layout-page {
    position: relative;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    min-height: 400px;
}

.layout-page > header {
    height: 195px;
}
.ie6 .layout-page header {
    height: 195px;
}

.layout-main-navigation {
    margin-bottom:20px;
    height: 50px;
    z-index: 1;
}

.layout-main {
    display: block;
    position: relative;
    min-height: 420px;
    z-index: 0;
}

.layout-main-column {
    float:right;
    width:230px;
}

.layout-main-center{
    float:left;
    width:705px;
}


.layout-footer {
    clear:both;
    position: relative;
    bottom:0;
    height: 69px;
}

.layout-flash {
    display: block;
    position: fixed;
    /*top: 50%;*/
    top:100px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    padding: 20px;
    border: 1px solid #000000;
    /*background-color: #e7591a;*/
    background-color: #FBE448;
    font-size:1.2em;
    font-weight:bold;
    /*color: #ACCC2C;*/
    color:#000000;
    border-radius: 5px;
    z-index: 1;
    opacity: 0.9;
}

.layout-flash-error {
    display: block;
    position: fixed;
    /*top: 50%;*/
    top:100px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    padding: 20px;
    font-size:1.2em;
    font-weight:bold;
    border: 1px solid #CE0000;
    background-color: #FE3737;
    /*background-color: #FBE448;*/
    color: #EAE9E9;
    border-radius: 5px;
    opacity: 1;
    z-index: 1;
}

.layout-inside-body {
    position: relative;

    padding: 45px 20px;
    background-color: #27252a;
}

.layout-inside-column {
    display: block;
    float: right;
    width: 208px;
}


.layout-home-column {
    display: block;
    float:right;
    padding:8px;
    width: 250px;
    min-height: 300px;
    background-color: #FFF;
    box-shadow: 1px 1px 5px 3px rgba(128, 128, 128, 0.7);
    -moz-box-shadow: 1px 1px 5px 3px rgba(128, 128, 128, 0.7);
}

.layout-home-edito{
    display: block;
    float:left;
    min-height: 300px;
}

.layout-inside-column {
    display: block;
    float: left;
    width: 208px;
}

.layout-inside-main {
    display: block;
    position: relative;
    float: right;
    width: 700px;
}