/*
* Select language
*/
.app-header-language {
    float:right;
}
.app-header-language li {
    display:inline;
    opacity:0.6;
}

.app-langage-selected{
    opacity:1!important;
}
.app-header-language  li:hover{
    opacity:1;
}

.app-logo-kitpages{
    float:right;
}

.app-logo-cms{
    float:left;
}

.app-header-intro{
    float:left;
    width:600px;
    text-align:center;
}

/********************/

.help-input-inline-style{
    color: #808080;
}

.hidden {
    display: none !important;
}

.layout-inside-main h1{
    margin-bottom:5px;
    font-size:1.8em;
    text-transform: uppercase;
}

.layout-main-column h2{
    padding:5px;
    font-size:1.4em;
    text-transform: uppercase;
    color:#FFFFFF;
    font-weight:normal;
}

.layout-home-edito .app-block-standard{
    display: block;
    width: 640px;
    padding: 8px;
    margin-bottom:15px;
    background-color: #FFF;
    box-shadow: 1px 1px 5px 3px rgba(128, 128, 128, 0.7);
    -moz-box-shadow: 1px 1px 5px 3px rgba(128, 128, 128, 0.7);
}


/**
* home
**/

.layout-main-column > div {
    border: 1px solid #535155;
}


.layout-home-intro{
    margin:0px 0px 15px 0px;
    padding:10px;
    background-color: #3b3a3f;
    border: 1px solid #535155;
    color:#FFFFFF;
    text-align: center;
}


.app-site-error {
    margin:10px 0px;
    padding:10px 0 10px 0px;
    font-weight:bold;
    background-color:#FBE448;
    color:#000000;
}

.app-site-error ul{
    padding:0px;
    margin-left:20px;
}
.app-site-error li{
    font-size:0.9em;
}
.kitpages-shop-payment-system .app-site-purchase-process-gtc{
    border-bottom: 1px solid #535155;
    margin: 0 15px 20px;
    padding: 10px;
}


div#ihqs_contact_contact_form textarea {
    width: 400px;
    height: 150px;
    vertical-align: middle;
    border: 1px solid #C8E4F6;
}

div#ihqs_contact_contact_form > div {
    margin: 10px 0px;
}
input:invalid, textarea:invalid {
    border-radius: 0px;
    box-shadow: none;
}


/**
 * Paginator
 */
.kit-cms-paginator {
    clear:both;
    text-align: center;
}
.kit-cms-paginator a {
    display: inline-block;
    margin: 2px;
    width:18px;
    height:18px;
    border: 1px solid #535155;

    text-decoration: none;
    font-weight:bold;
    color: #FFFFFF;
    background-color:#403d45;
}
.ie7 .kit-cms-paginator a {
    display: inline;
}
.kit-cms-paginator a:hover {
    background-color: #9dc62a;
    color: #FFF;
}
.kit-cms-paginator .kit-cms-paginator-current {
    display: inline-block;
    margin: 2px;
    width:18px;
    height:18px;
    font-weight:bold;
    color: #FFFFFF;
    background-color: #9dc62a;
}
.ie7 .kit-cms-paginator .kit-cms-paginator-current {
    display: inline;
}

.kit-cms-paginator .kit-cms-paginator-next a, .kit-cms-paginator .kit-cms-paginator-previous a{
    width:30px;
}

/*
* News
*/
.app-block-news a{
    text-decoration:none;
    color:#FFFFFF;
}

.app-block-news a:hover{
    color:#accc2c;
}
.layout-inside-main .app-block-news{
    padding: 10px;
    margin-bottom:10px;
}
.app-block-news h3 {
    margin-bottom:5px;
    text-transform: uppercase;
}

.layout-inside-main .app-news-img{
    float:left;
    padding-right:10px;
}

.app-news-date{
    color:#999999;
    text-align:right;
    font-size:0.9em;
}

/*
* Profil
*/
.fos_user_resetting_request input, .fos_user_registration_register input, .fos_user_profile_edit input {
    border-radius: 3px 3px 3px 3px;
    font-size: 0.9em;
    height: 15px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 400px;
}

.fos_user_resetting_request input[type=submit], .fos_user_registration_register input[type=submit], .fos_user_profile_edit input[type=submit] {
    background-color: #27252a;
    background-image: url("style/arrow_right.png");
    background-position: 95% 50%;
    background-repeat: no-repeat;
    border: 1px solid #535155;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-size: 1em;
    font-weight: bold;
    height: 40px;
    text-align: left;
    text-transform: uppercase;
    width: 200px;
}

.fos_user_resetting_request input[type=submit]{
    width: 300px;
}

.fos_user_resetting_request input[type=submit]:hover, .fos_user_registration_register input[type=submit]:hover, .fos_user_profile_edit input[type=submit]:hover {
    background-color: #E7591A;
}


/*
* connexion screen
*/
.app-user-connexion input {
    border-radius: 3px 3px 3px 3px;
    font-size: 0.9em;
    height: 15px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
}

.app-user-connexion label {
    display: inline-block;
    width: 120px;
}

.app-user-connexion a {
    padding-left: 10px;
    background-image: url("style/arrow_small_right_green.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    color: #000000;
}
.app-user-connexion a:hover {
    text-decoration:none;

}
.app-user-connexion form input.submit {
    font-size: 1em;
    font-weight: bold;
    height: 27px;
    margin: 10px 0 20px 0px;
    text-transform: uppercase;
    width: 126px;
    border: medium none;
    background-color: #E3E3E3;
    color: #000000;
}

.app-user-connexion form input.submit:hover {
    background-color: #3B3A3F;
}

.kit-cms-navigation-footer .kit-cms-nav-button-add{
    position:static;
}

.app-separator {
    background-color: #E3E3E3;
    height: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-block-news h2 {
    margin-bottom:5px;
}

#ihqs_contact_contact_form label {
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 90px;
}
.app-navigation-level2 ul{
    padding-left:10px;
}
.app-navigation-level2 li{
    position:relative;
    padding-left:15px;
    list-style-type: none;
}